.match_side_bar {
    height: 100%;
    width: 100%;
}

@media (min-width: 950px) {
    .menu {
        height: 75px;
        background: linear-gradient(135deg, rgb(179, 181, 238) 7%, rgb(242, 208, 231) 99%);
        padding: 25px 15px;
        display: flex;
        justify-content: space-between;
    }

    .pair_users {
        width: 291px;
    }
}

@media (max-width: 950px) {
    .menu {
        display: none;
    }
}

.notification {
    position: absolute;
    height: 30px;
}

.user_settings {
    height: calc(100% - 75px);
    overflow-y: scroll;
}

@media (min-width: 950px) {
    .sidebar_content {
        padding: 15px;
        max-width: 27vw;
        min-width: 270px;

    }

    .submit_button_upload {
        float: right;
        border: 1px solid #f52758 !important;
        margin-right: 10px;
    }
}

@media (max-width: 950px) {
    .sidebar_content {
        padding: 15px;
        width: 100%;
    }

    .submit_button_upload {
        float: right;
        border: 1px solid #f52758 !important;
        margin-right: 10px;
        position: absolute;
        bottom: 60px;
        right: 0;
    }
}

.pair_user {
    width: 90px;
    font-weight: bold;
    text-align: center;
    margin-right: 10px;
}

.pair_name {
    width: 75px;
}

.message_pair {
    display: flex;
    margin-bottom: 5px;
}

@media (min-height: 600px) {
    .message_pairs {
        max-height: 62vh;
        overflow-y: scroll;
    }

    .pair_users {
        display: flex;
        margin-bottom: 20px;
        overflow-x: scroll;
    }
}

@media (max-height: 600px) {
    .message_pairs {
        max-height: calc(62vh - 75px);
        overflow-y: scroll;
    }

    .pair_users {
        display: flex;
        margin-bottom: 20px;
        height: 60px;
        overflow-x: scroll;
    }
}

.name {
    font-weight: bold;
    margin: auto 0;
}

.text_container {
    margin-left: 10px;
    display: flex;
}

.title {
    color: rgb(91, 91, 144) !important;
}

.messages_container {
    margin-top: 25px;
}