.left_arrow {
    position: absolute;
    top: 95px;
    left: 10px;
    color: black;
    cursor: pointer;
}

.right_arrow {
    position: absolute;
    top: 95px;
    right: 10px;
    color: black;
    cursor: pointer;
}

.user_photos {
    position: relative;
    display: flex;
    margin: 10px 0 15px;
}

.elem {
    margin-top: 10px;
}

.change_button {
    color: rgb(53, 138, 217) !important;;
    background: #ffffff !important;
    border: 1px solid rgb(53, 138, 217) !important;;
}

.image {
    margin: auto;
}

.image_bucket {
    position: relative;
    left: 45%;
}

.empty_image {
    margin: auto;
    height: 200px;
}

.title {
    margin-top: 20px;
    text-align: center;
}

.whole_wide {
    width: 100%;
}

.text_answer {
    font-size: 13px;
    font-weight: bold;
}