.wrapper {
    width: 100%;
    height: calc(100% - 30px);
}

.title {
    color: rgb(91, 91, 144) !important;
}

.margin {
    margin-top: 25px;
}

.message_pair {
    display: flex;
    margin-bottom: 5px;
}

@media (min-height: 600px) {
    .message_pairs {
        max-height: 35vh;
        overflow-y: scroll;
    }
}

@media (max-height: 600px) {
    .message_pairs {
        max-height: calc(35vh - 75px);
        overflow-y: scroll;
    }
}

.name {
    font-weight: bold;
    margin: auto 0;
}

.text_container {
    margin-left: 10px;
    display: flex;
}