/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: 1.5fr 1fr;*/
/*    !*grid-auto-rows: 100vh;*!*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*.card_container {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    !*display: none;*!*/
/*}*/
/*big*/
@media (min-width: 950px) {
    .container {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        /*grid-auto-rows: 100vh;*/
        height: 100%;
        width: 100%;
    }

    .card_container {
        width: 100%;
        display: flex;
        /*display: none;*/
    }

    .card_container_mobile {
        /*height: calc(100vh - 63px);*/
        display: none;
    }
}

/*small*/
@media (max-width: 950px) {
    .container {
        /*display: grid;*/
        /*grid-template-columns: 1.5fr 1fr;*/
        /*grid-auto-rows: 100vh;*/
        height: 100%;
        width: 100%;
    }

    .card_container {
        /*width: 100%;*/
        /*display: flex;*/
        display: none;
    }

    .card_container_mobile {
        height: calc(100vh - 63px);
        display: flex;
    }
}

@media (min-width: 400px) {
    .card_wrapper {
        width: 400px;
        /*width: 100%;*/
        /*height: 600px;*/
        /*margin: auto;*/
    }
}

/*small*/
@media (max-width: 400px) {
    .card_wrapper {
        /*width: 400px;*/
        width: 100%;
        /*height: 600px;*/
        /*margin: auto;*/
    }
}

/*big*/
@media (min-height: 700px) {
    .card_wrapper {
        /*width: 400px;*/
        /*width: 100%;*/
        height: 600px;
        margin: auto;
    }
}

/*small*/
@media (max-height: 700px) {
    .card_wrapper {
        /*width: 400px;*/
        /*width: 100%;*/
        height: 600px;
        margin: 10px auto;
    }
}


@media (max-height: 670px) {
    .card_wrapper {
        /*width: 400px;*/
        /*width: 100%;*/
        height: 100%;
        overflow-y: scroll;
        margin: 10px auto;
    }
}

/*.card_container_mobile {*/
/*    height: calc(100vh - 63px);*/
/*    display: flex;*/
/*}*/

/*.card_wrapper {*/
/*    width: 400px;*/
/*    height: 600px;*/
/*    margin: auto;*/
/*}*/

.chat_wrapper {
    width: 100%;
    /*padding: 0 10px;*/
}

.chat_header {
    height: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    border-left: 1px solid rgba(128, 128, 128, 0.4);
    border-right: 1px solid rgba(128, 128, 128, 0.4);
    /*display: flex;*/
    padding: 10px;
    /*background-color: rgba(224, 207, 222, 0.17);*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.message_container {
    height: calc(100vh - 160px);
    padding: 10px 15px;
    overflow-y: scroll;
}

.submit_button {
    background: rgba(96, 101, 232, 0.63) !important;
    border: 1px solid rgb(96, 101, 232) !important;
}

.submit_button:hover {
    background: rgba(96, 101, 232, 0.63) !important;
    border: 1px solid rgb(96, 101, 232) !important;
}

.message_input_container {
    margin-top: 15px;
    padding: 0 10px;
    display: flex;
}

/*!*big*!*/
/*@media (min-width: 950px) {*/
/*    .mobile_footer {*/
/*       display: none;*/
/*    }*/
/*}*/

/*!*small*!*/
/*@media (max-width: 950px) {*/
/*    .mobile_footer {*/
/*        position: absolute;*/
/*        bottom: 0;*/
/*        width: 100%;*/
/*        height: 50px;*/
/*        border-top: 1px solid rgba(128, 128, 128, 0.4);*/
/*        border-left: 1px solid rgba(128, 128, 128, 0.4);*/
/*        border-right: 1px solid rgba(128, 128, 128, 0.4);*/
/*        !*display: flex;*!*/
/*        padding: 10px;*/
/*        !*background-color: rgba(224, 207, 222, 0.17);*!*/
/*        display: grid;*/
/*        grid-template-columns: 1fr 1fr 1fr 1fr;*/
/*        margin-top: 13px;*/
/*    }*/
/*}*/