@media (min-width: 950px) {
    .content_wrapper {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-auto-rows: 100vh;
        height: 100vh;
        width: 100%;
    }

    .side_bar_container {
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 950px) {
    .content_wrapper {
        height: 100vh;
        width: 100%;
    }

    .side_bar_container {
        display: none;
    }
}

@media (min-width: 950px) {
    .mobile_footer {
        display: none;
    }
}

@media (max-width: 950px) {
    .mobile_footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        border-top: 1px solid rgba(128, 128, 128, 0.4);
        border-left: 1px solid rgba(128, 128, 128, 0.4);
        border-right: 1px solid rgba(128, 128, 128, 0.4);
        padding: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 13px;
        z-index: 100;
    }
}

.main_field {
    background-color: rgba(255, 240, 252, 0.27);
    display: flex;
    height: 100%;
}

.button_acc {
    text-align: right;
}

.userFilter {
    text-align: right;
}

.form_header {
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 7px;
    font-weight: bold;
}

.form_input {
    width: 100%;
}

.change_button {
    color: #ffffff;
    display: inline-block;
    background: rgb(53, 138, 217);
    border-radius: 5px;
    line-height: 20px;
    font-weight: bold;
    border: 1px solid #ffffff;
    margin-top: 25px;
    width: 50%;
}

.tags {
    display: flex;
}

.logout {
    display: flex;
    justify-content: flex-end;
}

.header {
    height: 90px;
    background-color: #f52758;
}

.body {
    height: calc(100vh - 90px);
    background-size: cover;
}

.whole_form {
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    margin: auto;
}

.title {
    color: #e84a67;
    font-size: 30px;
    line-height: 33px;
    text-align: center;
    font-weight: bold;
    padding: 0 10px;
}

.form_header {
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 7px;
    font-weight: bold;
}

.form_input {
    width: 100%;
}

.input_margin {
    margin-bottom: 15px !important;
}

.content {
    padding: 0 30px 30px;
}

.submit_button {
    color: #ffffff;
    display: inline-block;
    background: #f52758;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    padding: 10px 18px 14px 20px;
    font-weight: bold;
    border: 1px solid #f52758;
    margin-top: 25px;
}

.negative_button {
    color: #f52758;
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    padding: 10px 18px 14px 20px;
    font-weight: bold;
    border: 1px solid #f52758;
    margin-top: 25px;
    margin-left: 10px;
}

.error {
    font-size: 14px;
    color: red
}

.reg_button {
    color: #ffffff;
    display: inline-block;
    background: rgb(53, 138, 217);
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    padding: 10px 18px 14px 20px;
    font-weight: bold;
    border: 1px solid #ffffff;
    margin-top: 25px;
    width: 100%;
}

.reset_password {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.login_button {
    color: #f52758;
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    padding: 10px 18px 14px 20px;
    font-weight: bold;
    border: 1px solid #f52758;
    margin-left: 33%;
}

@media (min-width: 400px) {
    .card_wrapper {
        width: 400px;
    }
}

@media (max-width: 400px) {
    .card_wrapper {
        width: 100%;
    }
}

@media (min-height: 700px) {
    .card_wrapper {
        height: 600px;
        margin: auto;
    }
}

@media (max-height: 700px) {
    .card_wrapper {
        height: 600px;
        margin: 10px auto;
    }
}

@media (max-height: 670px) {
    .card_wrapper {
        height: calc(100% - 65px);
        margin: 10px auto;
        overflow-y: scroll;
    }
}

.chat_room_container {
    width: 100%;
    background-color: rgba(255, 240, 252, 0.27);
    height: 100%;
}

.user_settings_wrapper {
    padding: 10px;
    height: calc(100% - 60px);
    overflow-y: scroll;
}

.notification {
    background: #d0e4ff !important;
    margin-bottom: 5px !important;
    box-shadow: none !important;
    font-size: 8px !important;
    padding: 14px 18px !important;
}

.notification div:first-child div:first-child div:first-child {
    display: none;
}

.not {
    position: absolute;
    right: 0;
    top: 10px;
    height: 150px;
    overflow: scroll;
}

.not div:first-child div:first-child
{
    position: relative !important;
    top: 0  !important;
}

@media (min-width: 600px) {

    .not {
        position: absolute;
        right: 0;
        top: 5px;
        height: 128px;
        overflow: scroll;
    }

    .notification div:first-child div:first-child div:nth-child(2) {
        font-size: 12px;
        line-height: 12px;
    }
}

@media (max-width: 600px) {

    .not {
        position: absolute;
        right: 0;
        top: 3px;
        height: 40px;
        overflow: scroll;
        opacity: 0.9;
        z-index: 2000;
    }

    .notification div:first-child div:first-child div:nth-child(2) {
        font-size: 9px;
        line-height: 9px;
    }
}