.header {
    height: 90px;
    background-color: #f52758;
}

.body {
    background-image: url('./images/slide.jpg');
    height: calc(100vh - 90px);
    background-size: cover;
}

.whole_form {
    float: right !important;
    width: 370px;
    height: 430px;
    background-color: white;
    margin-top: 22vh;
    margin-right: 17vw;
}

.title {
    color: #e84a67;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}

.form_header {
    font-size: 15px;
    margin-bottom: 7px;
    margin-top: 7px;
    font-weight: bold;
}

.form_input {
    width: 100%;
}

.content {
    padding: 0 30px 20px;
}

.submit_button {
    color: #ffffff;
    display: inline-block;
    background: #f52758;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    padding: 10px 18px 14px 20px;
    font-weight: bold;
    border: 1px solid #f52758;
    margin-top: 25px;
}

.negative_button {
    color: #f52758;
    display: inline-block;
    background: #ffffff;
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    padding: 10px 18px 14px 20px;
    font-weight: bold;
    border: 1px solid #ffffff;
    margin-top: 25px;
    margin-left: 10px;
}

.error {
    font-size: 14px;
    color: red
}

.reg_button {
    color: #ffffff;
    display: inline-block;
    background: rgb(53, 138, 217);
    border-radius: 5px;
    font-size: 19px;
    line-height: 22px;
    padding: 10px 18px 14px 20px;
    font-weight: bold;
    border: 1px solid #ffffff;
    margin-top: 25px;
    width: 100%;
}